.home-component {
  background-color: white;
  width: 100vw;
  height: 100vh;

  .content {
    margin-left: 30px;
    .button-container {
      margin-top: 6px;
      padding: 10px 0px;

      display: flex;
      gap: 28px;

      .submit-button {
        padding: 10px 20px;

        width: auto;
        height: 50px;

        color: white;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;

        background: #009eea;
        border-radius: 5px;
        border: none;
      }
    }

    .results-container {
      display: flex;
      gap: 24px;

      .results-list {
        width: 968px;
        height: 588px;

        padding: 10px;

        h2 {
          font-weight: 400;
          font-size: 42px;
          line-height: 52px;

          display: inline; // This is to make the two different headers render on the same line together

          &.black {
            color: #1e1e1e;
          }
          &.blue {
            color: #009eea;
          }
        }

        .results-data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          gap: 10px;

          width: 930px;
          height: 490px;

          .title-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 150px 10px 10px;

            width: 910px;
            height: 90px;

            h2 {
              font-weight: 700;
              font-size: 32px;
              line-height: 40px;

              color: #878787;
            }
          }

          .scrollable {
            overflow-y: scroll;
            .result-container {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 10px 150px 10px 10px;

              width: 910px;
              height: 90px;

              cursor: pointer;

              h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;

                color: #373737;
              }
            }
          }
        }
      }

      .selected-info {
        width: 890px;
        height: 776px;

        padding: 8px;

        h2 {
          font-weight: 400;
          font-size: 50px;
          line-height: 60px;

          color: #373737;
        }

        .fields-container {
          display: flex;
          flex-direction: column;
          padding: 6px 4px;
          gap: 46px;

          width: 872px;
          height: 672px;

          .info-field {
            width: auto;
            height: 96px;

            padding: 24px 20px;

            background: #f3f3f4;
            border-radius: 5px;

            overflow: scroll;
            h2 {
              font-weight: 400;
              font-size: 40px;
              line-height: 48px;

              color: #878787;
            }
          }
        }
      }
    }
  }
}
