.dropdown-parent {
  position: relative;
  cursor: pointer;

  .dropdown-button {
    width: auto;
    height: 50px;

    font-weight: 700;
    font-size: 26px;
    line-height: 30px;

    color: #009eea;

    background: #ffffff;
    border: 3px solid #009eea;
    border-radius: 5px;

    padding: 6px 20px;
  }

  .dropdown-show {
    position: absolute;
    width: 180px;
    height: auto;
    border-radius: 5px;
    top: 51px;

    border: solid grey 2px;

    max-height: 200px;
    overflow-y: scroll;

    z-index: 9999;

    background-color: white;

    .dropdown-item {
      width: 100%;
      height: 20px;

      font-size: 14px;
      padding: 3px;

      &:hover {
        background-color: #00a0ea57;
      }
    }
  }
}
