#main-header {
  margin-top: 40px;
  margin-left: 30px;

  font-weight: 700;
  font-size: 50px;
  line-height: 61px;

  color: #009eea;
}

.partition-line {
  margin: 90px auto 0px auto;

  width: 96.875%;

  border: 1px solid #e8e8e8;
}
